# dotfiles, with exceptions:
# .*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# not tracked subdirectories
/$PLUGINSDIR/
/filestore/
/nssm/
/python/
/server/
/thirdparty/
/vcredist/
Uninstall.exe