# dotfiles, with exceptions:
# .*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# not tracked subdirectories Windows
/$PLUGINSDIR/
/filestore/
/nssm/
/python/
/server/
/thirdparty/
/vcredist/
Uninstall.exe
# not tracked subdirectories Linux
/env/
/src/
/filestore/
/logs/